<section class="card shadow-sm">
  <div class="card-body">
    <h4 class="card-title d-flex">
      {{ tournament?.nombre | uppercase }}
    </h4>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ tournament?.autor?.username }}
    </h6>
    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse aperiam
      impedit nesciunt beatae voluptate, atque veniam explicabo quis nihil modi
      dolores facere nemo qui recusandae est magni delectus quam temporibus.
    </p>
    <hr />
    <h5>PREMIOS</h5>
    <div class="card card-hover d-inline-flex">
      <div class="card-body">
        <div class="card-subtitle text-center">Primer puesto</div>
        <p class="card-text text-center">{{ tournament?.premio }}</p>
      </div>
    </div>
  </div>
</section>

<div *ngIf="tournament?.autor?._id === userService.getUserId()">
  <section class="card mt-3 shadow-sm">
    <div class="card-body">
      <div class="row row-cols-2 text-center">
        <div class="col">
          <button class="btn btn-danger" (click)="deleteTournament()">
            <i class="fa-solid fa-trash-can"></i> Borrar Torneo
          </button>
        </div>
        <div class="col">
          <a
            [routerLink]="['/tournaments/edit', tournament?._id]"
            class="btn btn-warning"
            ><i class="fa-solid fa-pen-to-square"></i> Editar Torneo</a
          >
        </div>
      </div>
    </div>
  </section>
</div>

<section class="card mt-3 shadow-sm">
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Summoner</th>
          <th scope="col">ELO</th>
          <th scope="col">Partidas</th>
          <th scope="col">Ganadas</th>
          <th scope="col">Perdidas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="(tournament?.participantes || []).length === 0">
          No hay participantes disponibles
        </tr>
        <tr *ngFor="let participante of tournament?.participantes">
          <td>{{ participante.summonerName }}</td>
          <td>
            <img
              src="../../../../assets/rank-icons/{{
                participante.rankedSolo.tierName | lowercase
              }}.png"
              alt="{{ participante.rankedSolo.tierName | lowercase }} icono"
              style="width: 35px"
            />
            <span
              >{{ participante.rankedSolo.tierName | titlecase }}
              {{ participante.rankedSolo.rank }} ({{
                participante.rankedSolo.leaguePoints
              }})</span
            >
          </td>
          <td>
            {{ participante.rankedSolo.wins + participante.rankedSolo.losses }}
          </td>
          <td>
            {{ participante.rankedSolo.wins }}
          </td>
          <td>
            {{ participante.rankedSolo.losses }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
