<section class="card shadow-sm">
  <div class="card-body">
    <h4 class="card-title d-flex">
      {{ tournament?.nombre | uppercase }}
    </h4>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ tournament?.autor?.username }}
    </h6>
    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse aperiam
      impedit nesciunt beatae voluptate, atque veniam explicabo quis nihil modi
      dolores facere nemo qui recusandae est magni delectus quam temporibus.
    </p>
    <hr />
    <h5>PREMIOS</h5>
    <div class="card card-hover d-inline-flex">
      <div class="card-body">
        <div class="card-subtitle text-center">Primer puesto</div>
        <p class="card-text text-center">{{ tournament?.premio }}</p>
      </div>
    </div>
  </div>
</section>

<section class="card mt-3 shadow-sm">
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Summoner</th>
          <th scope="col">ELO</th>
          <th scope="col">Partidas</th>
          <th scope="col">Ganadas</th>
          <th scope="col">Perdidas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="(tournament?.participantes || []).length == 0">
          No hay participantes disponibles
        </tr>
        <tr *ngFor="let participante of tournament?.participantes">
          <td>{{ participante.summonerName }}</td>
          <td>
            <div *ngFor="let league of participante.leagues">
              <div *ngIf="league.queueType == 'RANKED_SOLO_5x5'">
                <img src="../../../../assets/rank-icons/{{ league.league?.name | lowercase }}.png" alt="{{ league.league?.name | lowercase }} icono" style="width: 35px;">
                <span>{{ league.league?.name | titlecase }} {{ league.rank }} ({{ league.leaguePoints}})</span>
              </div>
            </div>
          </td>
          <td>
            <div *ngFor="let league of participante.leagues">
              <div *ngIf="league.queueType == 'RANKED_SOLO_5x5'">
                {{ league.wins + league.losses }}
              </div>
            </div>
          </td>
          <td>
            <div *ngFor="let league of participante.leagues">
              <div *ngIf="league.queueType == 'RANKED_SOLO_5x5'">
                {{ league.wins }}
              </div>
            </div>
          </td>
          <td>
            <div *ngFor="let league of participante.leagues">
              <div *ngIf="league.queueType == 'RANKED_SOLO_5x5'">
                {{ league.losses }}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
