<form [formGroup]="tournamentForm" (ngSubmit)="create()">
  <div class="form-group mb-3">
    <label for="inputNombre" class="form-label">Nombre del torneo</label>
    <input
      type="text"
      formControlName="nombre"
      class="form-control"
      name="nombre"
      id="inputNombre"
      placeholder="Ingresar nombre del torneo"
    />
    <small
      class="text-danger"
      *ngIf="
        tournamentForm.get('nombre')?.hasError('required') &&
        tournamentForm.get('nombre')?.touched
      "
    >
      El nombre del torneo es requerido
    </small>
  </div>
  <div class="form-group mb-3">
    <label for="inputPremio" class="form-label">Premio</label>
    <input
      type="text"
      formControlName="premio"
      class="form-control"
      name="premio"
      id="inputPremio"
      placeholder="Ingresar password"
    />
    <small
      class="text-danger"
      *ngIf="
        tournamentForm.get('premio')?.hasError('required') &&
        tournamentForm.get('premio')?.touched
      "
    >
      El premio es requerido
    </small>
  </div>
  <div class="form-group mb-3">
    <label for="inputCupo" class="form-label">Cupo</label>
    <input
      type="text"
      formControlName="cupo"
      class="form-control"
      name="cupo"
      id="inputCupo"
      placeholder="Ingresar cupo"
    />
    <small
      class="text-danger"
      *ngIf="
        tournamentForm.get('cupo')?.hasError('required') &&
        tournamentForm.get('cupo')?.touched
      "
    >
      El cupo es requerido
    </small>
  </div>
  <div class="form-group mb-3">
    <label for="inputClasificacionMinima" class="form-label"
      >Rango mínimo necesario para participar</label
    >
    <select
      class="form-select"
      aria-label="Select Clasificacion Minima"
      id="inputClasificacionMinima"
      formControlName="clasificacionMinima"
      name="clasificacionMinima"
      placeholder="Seleccionar clasificaion mínima requerida"
    >
      <option value="{{ league.tier }}" *ngFor="let league of leagues">
        <img
          src="../../../../assets/rank-icons/{{ league.name | lowercase }}.png"
          alt="{{ league.name | lowercase }} icono"
          style="width: 35px"
        />
        <span>{{ league.name | titlecase }}</span>
      </option>
    </select>
    <small
      class="text-danger"
      *ngIf="
        tournamentForm.get('clasificacionMinima')?.hasError('required') &&
        tournamentForm.get('clasificacionMinima')?.touched
      "
    >
      El rango de clasificacion mínimo es necesario
    </small>
  </div>
  <div class="form-group mb-3">
    <label for="inputfechaInicio" class="form-label">Fecha inicio</label>
    <input
      type="date"
      formControlName="fechaInicio"
      class="form-control"
      name="fechaInicio"
      id="inputfechaInicio"
      placeholder="Ingresar fecha inicio"
    />
    <small
      class="text-danger"
      *ngIf="
        tournamentForm.get('fechaInicio')?.hasError('required') &&
        tournamentForm.get('fechaInicio')?.touched
      "
    >
      La fecha inicio es requerida
    </small>
  </div>
  <div class="form-group mb-3">
    <label for="inputfechaFin" class="form-label">Fecha fin</label>
    <input
      type="date"
      formControlName="fechaFin"
      class="form-control"
      name="fechaFin"
      id="inputfechaFin"
      placeholder="Ingresar fecha fin"
    />
    <small
      class="text-danger"
      *ngIf="
        tournamentForm.get('fechaFin')?.hasError('required') &&
        tournamentForm.get('fechaFin')?.touched
      "
    >
      La fecha de fin es requerida
    </small>
  </div>
  <div class="form-check mb-3">
    <input
      type="checkbox"
      formControlName="privado"
      class="form-check-input"
      name="privado"
      id="inputPrivado"
    />
    <label class="form-check-label" for="inputPrivado">Privado</label>
  </div>
  <div class="d-grid gap-2 mx-auto col-6">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="tournamentForm.invalid"
    >
      Crear torneo
    </button>
  </div>
</form>
