<section class="text-center">
  <img src="../../../assets/lol-icons/LoL_Logo_Rendered_LARGE.png" alt="lol-logo" class="img-fluid" style="width: 60%;">
</section>

<div class="my-3">
  <app-search (search)="handleSearch($event)"></app-search>
</div>

<section class="card text-white mb-3">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">CREADOR</th>
            <th scope="col">CLASIFICACION</th>
            <th scope="col">INICIO</th>
            <th scope="col">FIN</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="(tournaments || []).length === 0">
            No hay torneos disponibles
          </tr>

          <tr
            *ngFor="let tournament of tournaments | search: search_value"
            [routerLink]="['/tournaments', tournament._id]"
            style="cursor: pointer"
          >
            <td>{{ tournament.nombre }}</td>
            <td>{{ tournament.autor?.username }}</td>
            <td>
              <img
                src="../../../../assets/rank-icons/{{
                  tournament.clasificacionMinima?.name | lowercase
                }}.png"
                alt="{{
                  tournament.clasificacionMinima?.name | lowercase
                }} icono"
                style="width: 35px"
              />
              <span>{{
                tournament.clasificacionMinima?.name | titlecase
              }}</span>
            </td>
            <td>{{ tournament.fechaInicio | date: "dd/MM/yyyy" }}</td>
            <td>{{ tournament.fechaFin | date: "dd/MM/yyyy" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
