<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre torneo</th>
        <th scope="col">Creador</th>
        <th scope="col">Premio</th>
        <th scope="col">Rango Minimo</th>
        <th scope="col">Fecha inicio</th>
        <th scope="col">Fecha fin</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="(tournaments || []).length == 0">
        No hay torneos disponibles
      </tr>
      <tr *ngFor="let tournament of tournaments">
        <td>{{ tournament.nombre }}</td>
        <td>{{ tournament.autor?.username }}</td>
        <td>{{ tournament.premio }}</td>
        <td>
          <img
            src="../../../../assets/rank-icons/{{
              tournament.clasificacionMinima?.name | lowercase
            }}.png"
            alt="{{ tournament.clasificacionMinima?.name | lowercase }} icono"
            style="width: 35px"
          />
          <span>{{ tournament.clasificacionMinima?.name | titlecase }}</span>
        </td>
        <td>{{ tournament.fechaInicio | date: "dd/MM/yyyy" }}</td>
        <td>{{ tournament.fechaFin | date: "dd/MM/yyyy" }}</td>
        <td>
          <a
            [routerLink]="['/tournaments', tournament._id]"
            class="btn btn-primary"
            >Ver</a
          >
        </td>
      </tr>
    </tbody>
  </table>
  