<!-- <div class="row">
  <div class="col-md-4" *ngFor="let tournament of tournaments">
    <div class="card">
      <div class="card-body">
        <h3>{{ tournament.nombre }}</h3>
        {{ tournament.autor?.username }}
      </div>
      <div class="card-footer">
        Fecha Inicio: {{ tournament.fechaInicio | date: "shortDate" }}
      </div>
    </div>
  </div>
</div> -->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nombre torneo</th>
      <th scope="col">Creador</th>
      <th scope="col">Premio</th>
      <th scope="col">Fecha inicio</th>
      <th scope="col">Fecha fin</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="(tournaments || []).length == 0">
      No hay torneos disponibles
    </tr>
    <tr *ngFor="let tournament of tournaments">
      <td>{{ tournament.nombre }}</td>
      <td>{{ tournament.autor?.username }}</td>
      <td>{{ tournament.premio }}</td>
      <td>{{ tournament.fechaInicio | date: "shortDate" }}</td>
      <td>{{ tournament.fechaFin | date: "shortDate" }}</td>
      <td><a [routerLink]="['/tournaments',tournament._id]" class="btn btn-primary">Ver</a></td>
    </tr>
  </tbody>
</table>
