<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">XD</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li> -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Torneos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                routerLink="/tournaments"
                routerLinkActive="active"
                >Listado de torneos</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/tournaments/create"
                routerLinkActive="active"
                >Nuevo torneo</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!userService.isLogged(); else loggedIn">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/user/login"
              routerLinkActive="active"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/user/register"
              routerLinkActive="active"
              >Register</a
            >
          </li>
        </ng-container>
        <ng-template #loggedIn>
          <li class="nav-item">
            <a class="nav-link" (click)="userService.logout()" style="cursor: pointer;">Logout</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>

<div class="container pt-5">
  <router-outlet></router-outlet>
</div>
