/* You can add global styles to this file, and also import other style files */
body {
  background-color: #1c1c1f;
}

body * {
  color: #d6d6d9;
}

.navbar-dark {
  background-color: #005a82 !important;
}

.nav-link {
  color: #fff !important;
}

.btn-primary,
.btn-primary:disabled {
  background-color: #005a82;
  border-color: #005a82;
}

.btn-primary:hover {
  background-color: #005a82;
  border-color: #005a82;
  color: #c89b3c;
}

.table-hover tbody tr:hover * {
  color: #c89b3c;
  background-color: #005a82;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.table tbody {
  border: none !important;
  background-color: #363b3f;
}

.table thead {
  background-color: #c89b3c;
}

.table thead tr th {
  color: #010a13;
}

table tr {
  border: #363b3f;
}

.card {
  background-color: #363b3f;
  border: none;
}



input.form-control,
input.form-control:focus {
  background-color: #363b3f;
  border: none;
  color: #d6d6d9;
}

input.form-control::placeholder {
  color: #d6d6d9;
}